/Onsdag/DAT3SEM-Flow2-Week1/target/
/Onsdag-Torsdag-Fredag/DAT3SEM-Flow2-Week1/target/
/Wednsday-T-Fredag/DAT3SEM-Flow2-Week1/target/
/Wednesday-Thursday-Friday/DAT3SEM-Flow2-Week1/target/
/Tuesday/JPA-Demo/target/
